<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="container.setting" type="Infrastructure.Configuration.ContainerSetting, Infrastructure"/>
  </configSections>
  <container.setting factory="Infrastructure.Container.DependencyContainerFactory, Infrastructure">
    <modules>
      <add name="test" type="ServiceTest.ContainerSetup, InfrastructureTest"></add>
    </modules>
  </container.setting>
</configuration>