<script type="text/template" id="basePostViewTemplate">
    <div class="base-card" id="{{id}}">
        <div class="row">
            <div class="col-md-2">
                <img class="img-responsive" data-src="holder.js/40x40" style="width: 40px; height: 40px" src="/Content/images/games.jpg" />
            </div>
            <div class="col-md-10 col-md-pull-1">
                <div><span>{{attributes.author.fullName}}</span><span class="text-muted"> Posted</span> </div>
                <div class="text-muted">11 hours ago</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="post-type-container"></div>   
            </div>
        </div>
        <div class="row card-action">
            <div class="col-md-12">
                <span><a href="#">Like</a></span>
                <span><a href="#">Dislike</a></span>
                <span><a href="#">Comment</a></span>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                @*<div>
                    <span class="card-action glyphicon glyphicon-thumbs-up">{{attributes.numberOfLikes}}</span>
                    <span class="card-action glyphicon glyphicon-thumbs-down">{{attributes.numberOfDislikes}}</span>
                </div>*@
                <div class="post-like">

                </div>
                <div>
                    <span class="glyphicon glyphicon-thumbs-up"></span><span>67 people like this</span>
                </div>
                <hr />
           </div>
        </div>
        <div class="comments">            
        </div>
        <div class="row add-comment">
            <div class="col-md-2">
                <img class="img-responsive" data-src="holder.js/40x40" style="width: 40px; height: 40px" src="/Content/images/games.jpg" />
            </div>
            <div class="col-md-10 col-md-pull-1">
                <div class="form-group margin5-top">
                    <input type="text" class="form-control comment-box" placeholder="Comment here ..."/>
                </div>
                                
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="textPostViewTemplate">
    <div class="text-post">{{attributes.message}}</div>
</script>


<script type="text/template" id="commentViewTemplate">
    <div class="row comment">
        <div class="col-md-2">
            <img class="img-responsive" data-src="holder.js/40x40" style="width: 40px; height: 40px" src="/Content/images/games.jpg" />
        </div>
        <div class="col-md-10 col-md-pull-1">
            <div>
                <span><a href="#">{{attributes.author.fullName}}</a></span>
                <span class="message">{{attributes.commentMessage}}
                </span>
            </div>
            <div>
                <span class="text-muted">11 hours ago</span>
                @*<span class="card-action glyphicon glyphicon-thumbs-up">{{attributes.numberOfLikes}}</span>
                <span class="card-action glyphicon glyphicon-thumbs-down">{{attributes.numberOfDislikes}}</span>*@
                <span class="comment-like"></span>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="likeViewTemplate">        
    <span class="card-action glyphicon glyphicon-thumbs-up">{{attributes.numberOfLikes}}</span>
    <span class="card-action glyphicon glyphicon-thumbs-down">{{attributes.numberOfDislikes}}</span>    
</script>

