<script type="text/template" id="sideFriendTemplate">
    <div class="row margin20-top">
        <div class="col-md-5 margin0-right">
            <img class="img-circle img-responsive" data-src="holder.js/40x40" style="width: 40px; height: 40px" src="{{attributes.imageUrl}}" />
        </div>
        <div class="col-md-7 col-md-pull-1 pad0 pad20-top">
            <a href="#">{{attributes.firstName}} {{attributes.lastName}}</a>
        </div>
    </div>        
</script>


