<div class="row ">
    <div class="col-md-11 col-md-offset-1">
        <img class="img-circle img-responsive margin10-bottom" data-src="holder.js/140x140" style="width: 140px; height: 140px" src="~/Content/images/games.jpg" />
        <span class="pad25-left">Zaid Bin Irfan</span>
    </div>
</div>
<div class="row">
    <div class="col-md-11 col-md-offset-1">
        @for (int i = 0; i < 10; i++)
        {
            <div class="row margin20-top">
                <div class="col-md-5 margin0-right">
                    <img class="img-circle img-responsive" data-src="holder.js/40x40" style="width: 40px; height: 40px" src="~/Content/images/games.jpg" />
                </div>
                <div class="col-md-7 col-md-pull-1 pad0 pad20-top">
                    <a href="#">Zaid Bin Irfan</a>
                </div>
            </div>
    }
    </div>
</div>
